@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Rajdhani&display=swap');

@font-face{
	font-family: doctor-glitch;
	src: url(doctor-glitch.otf);
	text-decoration: none;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #3d3d3d;
}


main{
	width: 90%;
	height:700px; 
	margin-left: auto;
	margin-right: auto;
}

.fondoindex{
	background-image: url(fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.fondosinopsis{ 
	background-image: url(fondointerna1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.fondoelenco{
	background-image: url(fondoelenco1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.fondotrivia{
	background-image: url(fondotrivia2.png);
	background-size: cover;
	background-repeat: no-repeat;
}

header{
	width: 50%;
	height: 50px;
	background-color: #000000;
	background-color: rgba(00,00,00,0.4);
	font-family: doctor-glitch;
	float: left;
	display: inline;
}

nav{
	width: 50%;
	height: 50px;
	background-color: #000000;
	background-color: rgba(00,00,00,0.4);
	font-family: doctor-glitch;
	float: right;
}

section{
	width: 50%;
	height: 400px;
	float: left;
	padding: 2%;
}

.largo{
	height: 610px;
}

.ancho{
	width: 30%;
	height: 700px;
	padding-left: 7%;
	text-align: center;
}

.ancho2{
	width: 70%;
	height: 700px;
}

article{
	width: 50%;
	height: 400px;
	float: right;
	padding: 2%;
}

footer{
	width: 100%;
	height: 40px;
	background-color: #000000;
	clear: both;

}

#menu{
	margin: 0;
}

#menu li{
	display: inline;
}

#menu li a{
	font-size: 16px;
	text-decoration: none;
	float: right;
	padding: 1%;
	margin-right: 5%;
	color: #dfe6e9;
	margin-top: 2%;
}

#osoblanco{
	width: 50%;
	height: 50px;
	padding-top: 2%;
	padding-left: 5%;
	font-size: 25px;
	color: #ffffff;
	font-family: doctor-glitch;
}


p{
	font-family: 'PT Sans', sans-serif;
	color: #fdcb6e;
}


#blackmirror{
	width: 45%;
	height: 40px;
	float: left;
	padding-left: 2%;
}

#nombre{
	width: 30%;
	height: 40px;
	font-family: doctor-glitch;
	font-size: 12px;
	display: inline-block;
	padding-top: 1%; 
}

#logos{
	width: 8%;
	height: 40px;
	float: right;
	display: inline;
	padding-top: 0.5%;
}	

a{
	color: #dfe6e9;
a:hover
	color: #dfe6e9;
a:active
	color: #dfe6e9;
text-decoration: none;
}

#ver{
	width: 150px;
	height: 30px;
	font-size: 20px;
	border-radius: 20px;
	margin-left: 8%;
	padding-top: 1%;
	background-color: #6ab04c;
	text-align: center;
}

#texto{
	width: 100%;
	height: 90%;
	font-family: 'Rajdhani', sans-serif;
	font-size: 30px;
	padding-top: 50%;
	color: #dfe6e9;
	padding-left: 3%;
}

.text{
	width: 100%;
	height: 10%;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	color: #dfe6e9;
	padding-left: 30%;

}

.colornaranja{
	color: #fdcb6e;
}

.titulos{
	font-family: 'Rajdhani', sans-serif;
	color: rgba(223, 230, 233,0.8);
	font-size: 30px;
}

#galeria{
	width: 100%;
	height: 200px;
	clear: both;
	padding-left: 2%;
	padding-right: 1%;
}

#victoria{
	width: 50%;
	height: 250px;
	padding-top: 7%;
	padding-right: 1%;
	float: left;
	font-size: 18px;
	color: #d35400;
}

#victoria2{
	width: 50%;
	height: 250px;
	padding-top: 7%;
	float: right;
}

#jem{
	width: 50%;
	height: 210px;
	float: left;
	padding-top: 2%;
	padding-right: 1%;
	font-size: 18px;
	color: #d35400;
}

#jem2{
	width: 50%;
	height: 210px;
	float: right;
	padding-top: 2%;
}

#baxter{
	width: 50%;
	height: 210px;
	padding-top: 1%;
	padding-right: 1%;
	float: left;
	font-size: 18px;
	color: #d35400;
}

#baxter2{
	width: 50%;
	height: 210px;
	padding-top: 1%;
	float: right;
}

.ancho3{
	width: 65%;
	height: 600px;
}

#formulario1{
	width: 50%;
	height: 500px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #ecf0f1;
	padding-top: 3%;
	padding-left: 5%;
	
	float: left;
}

#formulario2{
	width: 50%;
	height: 500px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #ecf0f1;
	padding: 3%;
	padding-left: 8%;
	float: right;
}

.tituloformulario{
	width: 100%;
	height: 10px;
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	padding-top: 2%;
	padding-left: 5%;
	color: #f7f1e3;
	text-align: center;
}

.datos{
	width: 25%;
	height: 380px;
	padding left: 5%;
	margin: 5%;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	color: #f7f1e3;
	background-color: rgba(99, 110, 114,0.8);
	border-style: solid;
}

.boton{
	width: 80px;
	height: 30px;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	padding: 1%;
	margin: 1%;
}